@import "mixins";

$secondary-dark: #2e2e2e;
$on-secondary-dark: #414141;
$primary-blue: #29b6f6;
$tag-color: #121212;
$secondary-blue: #0070f3;

.postPage {
  width: 100%;
  margin-bottom: 5rem;
}

.allBlogsContainer {
  display: flex;
}

.allBlogs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.5rem 1rem;
  justify-content: center;
  align-items: center;
}

.blogBlackBox {
  width: 100%;
  background-color: $secondary-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem;
}

.blogCard {
  width: 22rem;
  padding-bottom: 1rem;
  border-radius: 1.5rem;
  background-color: $on-secondary-dark;
  transition: transform .2s; 
  flex-grow: 1;
  margin: 2.5rem;
  cursor: pointer;
  max-width: 26rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  &:hover{
    transform: scale(1.1);
  }
  
  @include tablet() {
    max-width: 30rem;
  }

  @include mobile() {
    width: fit-content;
    margin: 1rem 0;
    border-radius: 1rem;
  }

  h1 {
    color: $primary-blue;
    margin: 1rem;
    margin-bottom: 0.2rem;
    margin-top: 0.4rem;
    font-size: 1.5rem;
    line-height: 1.1;
    font-weight: 500;
  }

  h3 {
    margin: 0.4rem 1rem;
    color: white;
    opacity: 85%;
  }

  p {
    margin: 0.4rem 1rem;
    color: white;
  }

  .blogTag {
    color: white;
    background-color: $tag-color;
    width: fit-content;
    border-radius: 0.3rem;
    padding: 0.2rem 0.4rem;
    text-align: center;
    margin-left: 1rem;
    margin-top: 0.4rem;
    letter-spacing: 0.1em;
    font-size: 0.8rem;
  }

  .blogCover {
    width: 100%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;

    @include mobile() {
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
  }
}

.blogContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.blogHead {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  margin-bottom: 0rem;

  h1 {
    color: $secondary-blue;
    font-size: 4em;
    margin: 1.5rem;

    @include mobile() {
      font-size: 2.5em;
      margin: 1rem;
    }
  }
}

.circle {
  width: 60px;
  height: 60px;
  background-color: $secondary-dark;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 0 1rem;

  @include mobile() {
    width: 50px;
    height: 50px;
  }
}

.searchContainer {
  width: 60%;
  height: 5.5rem;
  background-color: $on-secondary-dark;
  border-radius: 1.5rem;
  display: flex;
  margin-top: -2.8rem;
  align-self: center;

  @media (max-width: 900px) {
    width: 85%;
  }

  @include mobile() {
    height: 4.5rem;
    border-radius: 1.2rem;
    margin: -2.5rem;
    margin-bottom: 1.5rem;
  }

  .searchInput {
    flex-grow: 1;
    border-radius: 1.8rem;
    padding: 1.5rem;
    font-size: 1.5em;
    min-width: none;
    background-color: $on-secondary-dark;
    outline: none;
    caret-color: $primary-blue;
    color: white;

    @include mobile() {
      width: 50px;
    }
  }
}
