@import "mixins";

$secondary-dark: #15191b;
$on-secondary-dark: #15191b;
$primary-blue: #29b6f6;
$tag-color: #121212;
$secondary-blue: #0070f3;

//Header

.header {
  width: 100%;
  padding: 0.8rem 2rem;
  color: white;
  background-color: #1f2528;
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;

  @include mobile() {
    padding: 0.8rem;
  }

  .logo {
    flex-grow: 1;
    font-weight: bold;
    img{
      cursor: pointer;
    }
  }

  .menu{
    display: none;

    @include mobile() {
     display: block;
    }
  }

  .nav {
    @include mobile {
      width: 100%;
      display: none;
      flex-direction: column;
    }
  }

  a {
    margin: 0 0.4rem;
    padding: 1rem;
    font-weight: bold;
  }

  a:hover {
    background-color: #15191b;
    border-radius: 0.5rem;
  }
}

// Page Title

.pageTitle {
  display: flex;

  img{
    cursor: pointer;
  }

  h1 {
    color: #0a0b0c;
    font-size: 2rem;
    line-height: 1.1;
   

    @include mobile() {
      font-size: 1.5rem;
    }
  }

  p {
    color: white;
    font-size: 1rem;
    margin-top: 4px;

    @include mobile() {
      font-size: 0.8rem;
    }
  }

}

.circle {
  width: fit-content;
  height: fit-content;
  background-color: $secondary-dark;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-right: 12px;
  padding: 12px;

  @include mobile() {
    padding:8px;
  }
}

// Search bar

.searchContainer {
  $border-radius: 8px;
  width: 40%;
  background-color: $on-secondary-dark;
  border-radius: $border-radius;
  display: flex;
  align-self: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: sticky;
  top: 5.5rem;
  z-index: 100;

  .circle {
    padding: 4px;
  }

  @include mobile() {
    width: 95%;
    margin-top: 0.5rem;
  }

  .searchInput {
    flex-grow: 1;
    border-radius: $border-radius;
    padding: 1rem;
    min-width: none;
    background-color: $on-secondary-dark;
    outline: none;
    caret-color: $primary-blue;
    color: white;

    @include mobile() {
      width: 50px;
    }
  }
}

// Icon Title

.iconTitle {
  display: flex;
  color: white;
}

// Code Block

.codeBlock {
  $background: #090B0C;

  width: 90%;
  margin: 1rem;

  @include mobile() {
    width: 100%;
    padding: 1rem;
    margin: 0;
  }

  .action {
    display: flex;
    justify-content: space-between;

    p {
      background-color: $background;
      width: fit-content;
      border-radius: 0.4rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: 0.4rem 0.8rem;
      margin: 0;
      font-size: 1rem;
      letter-spacing: 2px;
    }

    button {
      font-size: 1rem;
    }
  }

  pre {
    width: 100%;
    background-color: $background;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    padding: 1rem;
    margin: 0;
    overflow: auto;
    font-size: 1rem;

    @include mobile() {
      width: 100%;
    }

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 0.5px solid slategrey;
      border-radius: 1rem;
    }

    code {
      background-color: transparent;
      color: white;
    }
  }
}

// NewsLetter

.newsLetter {
  $border-color: #28b6fc;

  border: 1px solid $border-color;
  border-radius: 1rem;
  margin: 1rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  @include mobile() {
  
    padding: 1rem;
    margin:0.5rem;
  }

  .cover {
    flex-grow: 1;
    align-self: center;

    @include mobile() {
      display: none; 
    }
  }
  .content {
    margin: 1rem;
    h1 {
      font-size: 2rem;
      font-weight: bold;

      @include mobile() {
        font-size: 1.5rem;
      }
    }

    li {
      margin-top: 6px;
      padding-left: 28px;
      background: url(/icons/check.svg) left center no-repeat;
    }

    form {
      display: flex;
      flex-direction: column;
      margin: 16px 0;
      margin-bottom: 0;
      color: white;

      label {
        margin: 4px 0;
      }
      input {
        outline: none;
        border: 1px solid $border-color;
        background-color: transparent;
        caret-color: $border-color;
        padding: 6px 4px;
        width: 80%;
        border-radius: 4px;
        font-size: 1rem;

        &:focus {
          background-color: transparent;
        }
      }
      button {
        margin: 16px 0;
        margin-bottom: 0;
        background-color: #e93fa1;
        width: fit-content;
        padding: 8px 14px;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 4px;
      }
    }
  }
}

//Fotter

.fotter {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;

  .signature {
    color: white;
    text-align: center;
  }
}

.states {
  margin: 1rem 0;
  svg {
    margin-right: 4px;
  }

  .error {
    border-left: 4px solid red;
    background-color: #fdeded;
    color: #5f2120;
    padding: 6px 10px;
    border-radius: 2px;
    font-size: 1rem;
    display: flex;
  }

  .sucess {
    border: 1px solid green;
    background-color: #edf7ed;
    color: #1e4620;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 1rem;
    display: flex;
  }
}

//Loder

.loadingBarContainer {
  height: 4px;
  width: 240px;
  background-color: #cfe0f0;
  border-radius: 5rem;

  position: absolute;
  overflow: hidden;

  .loadingBar {
    height: 100%;
    width: 50%;
    background-color: #28b6fc;
    position: absolute;
    border-radius: 5rem;
    left: -50%;
    animation: loading 2s ease-in 0.5s infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(0);
    }
    to {
      transform: translateX(400%);
    }
  }
}

// Coming soon

.comingSoon{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:1rem;
}
